<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @rental.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @rental.user_id %>
</p>

<p>
  <b>State:</b>
  <%= @rental.state %>
</p>


<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
