<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  	<h2><%= @book.name %></h2>
    <%= image_tag(@book.img_url, :alt => @book.name) %>
  </div>
  <div class="field">
    <%= f.label :isbn %>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :pub_date %>
    <%= f.text_field :pub_date %>
  </div>
  <div class="field">
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </div>
  <div class="field">
    <%= f.label :amz_url %>
    <%= f.text_field :amz_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
