<% if @book.left? %>
  <% if !@book.borrowed_users.include?(current_user) %>
    <%= form_for(current_user.rentals.build(:book_id => @book.to_param)) do |f| %>
      <%= f.hidden_field :book_id %>
      <%= f.hidden_field :user_id %>
      <%= f.submit '借りる', :class => "btn btn-primary" %>
    <% end %>
  <% end %>
<% else %>
  <p><span class="label label-important">貸し出し中</span></p>
<% end %>

<% if @book.borrowed_users.include?(current_user) %>
  <%= link_to '本を返す', give_back_rental_path(current_user.rentals.borrowed.select{|x| x.book == @book}.first), :class => "btn btn-warning" %>
<% end %>
<% #TODO: current_userが@bookを借りているかどうかの判定はよく使う気がするので borrowed_by_current_user? みたいなメソッドにしてはどう？ %>
<% #TODO: give_back_rental_path以下が長いのでメソッド化したほうがよい？ %>
<% #TODO: give_back_rental_pathのURL直打ち(rentals/xxxxxx/give_back)で他人の本を返却できてしまう。%>
