<% if flash[:notice] %>
  <p id="notice"><a class="close" data-dismiss="alert" href="#">&times;</a><%= notice %></p>
<% end %>

<div id="book_info">
  <div id="book_cover">
    <img src="/assets/nocover.png" />
  </div>
  <div id="book_details">
    <h1 class="book-title"><%= @book.name %></h1>
    <% if current_user %>
    <%= link_to 'Edit Book Info', edit_book_path(@book) %>
    <% end %>
    <li><b>Price:</b><%= yen @book.price %></li>
    <li><b>Isbn:</b><%= @book.isbn %></li>
  </div>
  <hr />
  <% if current_user %>
    <%= render 'logged_in' %>
  <% else %>
    <%= render 'not_logged_in' %>
  <% end %>
</div>




<div id="rental-history">
<h2>Records</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>User</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th>返却日時</th>
  </tr>
<% @book.rentals.each do |rental| %>
  <tr>
    <td><%= rental.user.name -%></td>
    <td><%= rental.created_at -%></td>
    <td><%= rental.updated_at -%></td>
    <td><%= rental.returned_at || "貸し出し中" %></td>
  </tr>
<% end -%>

</div>