<% if flash[:notice] %>
  <p id="notice"><a class="close" data-dismiss="alert" href="#">&times;</a><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Price:</b>
  <%= yen @book.price %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<hr />

<% if current_user %>
  <%= render 'logged_in' %>
<% else %>
  <%= render 'not_logged_in' %>
<% end %>


<div id="rental-history">
<h2>貸し出し状況</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>User</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th>返却日時</th>
  </tr>
<% @book.rentals.each do |rental| %>
  <tr>
    <td><%= rental.user.name -%></td>
    <td><%= rental.created_at -%></td>
    <td><%= rental.updated_at -%></td>
    <td><%= rental.returned_at || "貸し出し中" %></td>
  </tr>
<% end -%>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>