<!DOCTYPE html>
<html>
<head>
  <title>Geeokibooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'geeoki books', root_path, :class => "brand" %>
        <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <% if current_user %>
                  Welcome <%= current_user.name %>!
                  <%= link_to "Sign Out", signout_path %>
                <% else %>
                  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
                <% end %>
              </li>
            </ul>
          </div>

      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
