<!DOCTYPE html>
<html>
<head>
  <title>Geeokibooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'geeoki books', root_path, :class => "brand" %>
        <div class="nav-collapse collapse">
            <div id="user-box">
                <% if current_user %>
                  Welcome <span class="user-name"><%= current_user.name %></span>!
                  <%= link_to "Sign Out", signout_path, :id => 'log-in-out', :class => 'btn btn-success' %>
                <% else %>
                  <%= link_to "Sign in with Twitter", "/auth/twitter",:id => 'log-in-out', :class => 'btn btn-success' %>
                <% end %>
            </div>
          </div>

      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
