<!DOCTYPE html>
<html>
<head>
  <title>Geeokibooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "extra_styles", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Galindo' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<header class="jumbotron subhead" id="overview">
  <div class="row title-row">
    <div class="span6">
      <div class="site-title"><%= link_to 'GeeOki Library', root_path, :class => "brand" %></div>
      <p class="lead">ギー沖の蔵書管理サイト</p>
    </div>
    <div class="span6">
      <div id="user-box" class="pull-right">
        <% if current_user %>
          Welcome <span class="user-name"><%= current_user.name %>! </span>
          <%= link_to "Sign Out", signout_path, :id => 'log-in-out' %>
        <% else %>
          <%= link_to "Sign in with Twitter", "/auth/twitter",:id => 'log-in-out', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to 'Book List', books_path %></li>
      <% if current_user %>
      <li><%= link_to 'Add New Book', new_book_path %></li>
      <% end %>
    </ul>
  </div>
</header>


<div id="canvas">
  <%= yield %>
</div>
</div>

</body>
</html>
